{% extends "users/dashboard.twig" %}

{% block mostrar %}
	<div >
		<form action="{{url}}Event/Choose" method="post" >
            <h1 >Escoge el evento al que quieres registrar el boleto</h1>
			<select  name="eventId">
				<option selected value="">Nombre del evento ....</option>
				{% for event in events %}
					<option value={{event.id}}>{{event.eventName}}</option>
				{% endfor %}
			</select>
			<button type="submit" >Elegir</button>
		</form>
	</div>
{% endblock %}
