{% extends "users/dashboard.twig" %}
{% block mostrar %}
	<div >
		<form action="{{url}}TicketRegistry" method="post" >
			<p >Registrar Boleto</p>
			<input name="serial" type="text" readonly="readonly" value={{serial}}>
			<input name="eventName" type="text" readonly="readonly" value="{{event.eventName}}">
			<input name="date" type="text" readonly="readonly" value={{event.date}}>
			<select  name="ubication">
				<option selected disabled required >Elige la ubicación</option>
				<option value="Altos">Altos</option>
				<option value="Medios">Medios</option>
				<option value="VIP">VIP</option>
				<option value="Platino">Platino</option>
			</select>		
			<button type="submit" >Registrar</button>
		</form>
	</div>
{% endblock %}
