{% extends "layout.twig" %}

{% block content %}
  <div class="row">
  <div class="col-sm-4 m-5">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-primary">Iniciar Sesión</h5>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
  </div>
    
  <div class="col-sm-4 m-5">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-primary">Registrarse</h5>
          <a href="{{url}}SignUp" class="btn btn-primary">Entrar</a>
        </div>
      </div>
  </div>
  </div>
{% endblock %}