{% extends "users/dashboard.twig" %}

{% block mostrar %}
	<div >
		<form action="{{url}}Event/Create" method="post" >
			<p >Registrar Evento</p>
			<input name="eventName" type="text"  placeholder="Nombre del evento">
			<input name="altos" type="number"  placeholder="Cantidad Disponible en Altos">
			<input name="medios" type="number"  placeholder="Cantidad Disponible en Medios">
			<input name="vip" type="number"  placeholder="Cantidad Disponible en VIP">
			<input name="platino" type="number"  placeholder="Cantidad Disponible en Platino">
			<input name="date" type="text"  placeholder="Fecha DD/MM/AA">
			<button type="submit" >Registrar</button>
		</form>
	</div>
{% endblock %}
