{% extends "layout.twig" %}

{% block content %}
	<div class="maxAltura w-100 flex">
		<div class=" h-100 dashboard-nav fondo-oscuro-medio">
			<div class="dashboard-nav-content">
				<p class="dashboard-nav-label text-white small-size">USUARIO</p>
				<p class="gris-text" id="name" >{{user.names}}</p>
				<p class="dashboard-nav-label text-white small-size">MENU</p>
				<ul class="dashboard-nav-ul">
					<li class="dashboard-nav-item">
						<a href="{{urlInit}}" class="gris-text dashboard-nav-link">Inicio</a>
					</li>
					{% if user.admin == true %}
						<li class="dashboard-nav-item">
							<a href="{{url}}Event/Create" class="gris-text dashboard-nav-link">Registrar Eventos</a>
						</li>
					{% endif %}
					<li class="dashboard-nav-item">
						<a href="{{url}}Logout" class="gris-text dashboard-nav-link">Cerrar Sesión</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="dashboard-content h-100 flex wrap">
			{% block mostrar %}{% endblock %}
		</div>
	</div>
{% endblock %}
