/* Estilos Generales */

*{
    box-sizing: border-box;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

.maxAltura{
    height: 100vh;
}

.fondo-oscuro{
    background-color: rgb(37,39,53);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}
.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.borde{
    border: 1px solid aqua;
}

.fondo-oscuro-medio{
    background-color: rgb(42, 49, 66);
}

.text-white{
    color: whitesmoke;
}

.rounded{
    border-radius: 2px;
}

.morado-claro{
    background-color: rgb(98, 110, 212);
}

.morado-text{
    color: rgb(98, 110, 212);
}

.gris-text{
    color: rgb(134, 154, 173);
}

.morado-mas-claro-text{
    color: rgb(177, 178, 228);
}

.morado-mas-claro-bg{
    background: rgb(177, 178, 228);
}

.input{
    border: 0;
    outline: none;
    border: 1px solid rgb(98, 110, 212);
    height: 2.5em;
    padding-left: 1em;
}

.button{
    border: 0;
    padding: 3%;
}

.input::placeholder{
    color: rgb(98, 110, 212);
}

.small-size{
    font-size: .8em;
}

/*Estilos del la view Index*/

.login-container{
    width: 30%;
    height: 80%;
}

.signup-container{
    height: 80%;
    width: 60%;
}

.index-container{
    margin: 2%;
    flex-wrap: wrap;
    flex-direction: column;
}

.input.login{
    margin-top: 5%;
    width: 80%;
}

.button.login{
    width: 80%;
    margin-top: 5%;
}

.input-signup-container{
    width: 90%;
}

.input.signup{
    margin-top: 3%;
    width: 45%;
    margin-left: 2%;
}

.button-signup{
    width: 45%;
    margin-left: 2%;
    padding: 1%;
    border: 0;
}

/*Estilos del nav de los dashboards*/

.dashboard-nav{
    width: 20%;
}

.dashboard-content{
    width: 80%;
}

.dashboard-nav-content{
    width: 100%;
    margin-top: 30%;
}

.dashboard-nav-label{
    margin-left: 9%;
}
.dashboard-nav-item{
    padding: 5%;
}

.dashboard-nav-item:hover{
    background: rgb(37,39,53);
}

#name{
    margin-bottom: 6%;
    margin-left: 23%;
    margin-top: 6%;
}

.dashboard-nav-link{
    text-decoration: none;
    margin-left: 20%;
    margin-top: 7%;
}

.dashboard-nav-ul{
    list-style: none;
    margin-top: 5%;
}

/*Estilos de la view chooseEvent */

.chooseEvent-container{
    padding: 5%;
    width: 50%;
}

.chooseEvent-select{
    margin: 2%;
}
.chooseEvent-title{
    margin: 5%;
}

.chooseEvent-button{
    padding: 1.9%;
    width: 35%;
}

/*Estilos del la view create Ticket */

.ticketCreate-button{
    padding: 1.7%;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
}

.ticketCreate-select-container{
    width: 80%;
}

.input.ticketCreate-select{
    width: 80%;
    margin-top: 5%;
}

.ticketCreate-Container{
    text-align: center;
    width: 40%;
    height: 45%;
}

/*Estilos de la view show ticket*/

.ticketShow-container{
    width: 40%;
    padding: 2%;
    height: 50%;
}

.ticketShow-anchor{
    text-decoration: none;
    text-align: center;
}

/*Estilos del dashboard de los admins*/

.celda{
    padding: .7%;
}

.table-container{
    width: 98%;
    padding: 1%;
    text-align: center;
}

.btn{
    text-decoration: none;
    margin-left: 4%;
}

.table-btn-ver{
    background-color: rgb(2, 164, 153);
}

.table-btn-editar{
    background: rgb(56,164,248);
}

.table-btn-eliminar{
    background: rgb(236,69,97);
}

/*Estilos de la view eventCreate */

.eventCreate-container{
    width: 40%;
    padding: 2%;
}